
#entbtns{
    width: 60%;
    margin-left: 20%;
    /*margin-left: 20%;*/
    /*padding-right: 20%;*/
    height: 100px;
    /*align-content: center;*/
    /*display: inline-block;*/
    /*text-align:center;*/
}
.box{
    /*margin-left: 10%;*/
    /*padding-right: 10%;*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
    /*text-align:center;*/
    /*box-sizing:border-box;*/
    width: 33%;
    /*position:absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform : translate(-50% ,-50%);*/
    float: left;
    padding : 0 auto;
    /*align-content: center;*/
    /*display: inline-block;*/
    text-align:center;

}

.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
}

.btn-white{
    background:#fff;
    color:#000;
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    /*float: left;*/
    /*margin: 0 auto;*/
}

.btn:hover{
    box-shadow:0px 10px 10px rgba(0,0,0,0.4);
    transform : translateY(-3px);
}

.btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
}

.btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    /*position:absolute;*/
    width:100%;
    height:100%;
    /*top:0;*/
    /*left:0;*/
    border-radius:100px;
    /*display:inline-block;*/
    /*z-index:-1;*/
    transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
    0%{
        opacity:0;
        transform:translateY(40px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}