.hover,
.word,
h1 {
  cursor: pointer;
}

h1 {
  position: relative;
  color: #fff;
  font: 900 60px Montserrat;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.concept-eight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.concept-eight .word {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 450px;
  height: 80%;
}
.concept-eight .word:hover .char:before {
  transition: 0.6s ease;
  color: rgba(255, 255, 255, 0.8);
  animation: falls 1s ease forwards;
}
.concept-eight .word:hover .char:nth-child(1):before {
  animation: falls 0.9s ease 0.2s forwards;
}
.concept-eight .word:hover .char:nth-child(2n + 3):before {
  animation: falls 1s ease 0.3s forwards;
}
.concept-eight .char {
  flex: 1;
  position: relative;
}
.concept-eight .char:before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  color: transparent;
  text-shadow: none;
}

@keyframes falls {
  0% {
    opacity: 0;
    top: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100px;
  }
}
